* {
  font-family: 'Inconsolata', monospace;
}

body {
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0 auto;
  justify-content: center;
  background-color: #081C15;
}

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.inner-wrapper {
  margin: 5rem;
}

header {
  width: 100%;
  position: fixed;
  background-color: #1B4332;
  z-index: 1;
  padding-top: 0.5rem;
}

header ul {
  padding: 0 2.5rem;
  margin: auto auto;
  list-style: none;
}

#icon {
  float: left;
  color: #D8F3DC;
  font-weight: 700;
  font-size: 2rem;
}

li.navbar {
  float: right;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
}

li.navbar a {
  color: #D8F3DC;
  font-weight: 600;
  display: block;
  padding: 10px 20px;
  text-align: center;
}

.active {
  background-color: #74C69D;
}

li a:hover {
  background-color: #B7E4C7;
  color: #2D6A4F;
}

/* body */
#banner {
  width: 100%;
  height: 100%;
  color: #D8F3DC;
}

.greeting-main {
  display: flex;
  padding: 14rem 0;
  text-align: left;
}

.greeting-text-div {
  margin-top: 10px;
  margin-left: 50px;
  flex: 50%;
  padding: 10px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1.1;
}

h1 {
  display: block;
  font-weight: bold;
  font-size: 70px;
}

h2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.intro-text {
  font-size: 30px;
  line-height: 40px;
  margin-right: 40px;
  text-align: justify;
}

.sm-links {
  font-size: 2rem;
}

.sm {
  text-decoration: none;
  border-radius: 50%;
}

.sm:hover {
  opacity: 0.7;
}

/* About me */

.category {
  color: #52B788;
  margin-left: 0;
  font-size: 50px;
}

#about {
  width: 100%;
  height: 100%;
  background-color: #081C15;
  color: #52B788;
  display: flex;
  /* padding-top: 100px; */
}

.content {
  position: relative;
  display: block;
  font-size: 24px;
  padding-right: 200px;
  text-align: justify;
  flex: 50%;
}

.column {
  float: left;
  text-align: justify;
}

.left {
  width: 50%;
}

.right {
  padding-left: 80px;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #222;
  text-align: center;
  color: #fff;
  padding: 10px 0 15px 0;
}

a, a:focus, a:active {
  color: inherit;
}

footer .button-wrapper {
  margin: 20px;
}

/* contact */

table {
  margin: 70px auto auto auto;
  width: 90%;
  background-color: #B7E4C7;
}

th, td {
  border: 1.5px solid #7209B7;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #2D6A4F;
}

.contact-left {
  width: 50%;
}

.contact-right {
  padding-left: 80px;
  width: 30%;
}

.table-header {
  margin: 150px auto auto 155px;
  color: #52B788;
  font-size: 24px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
